<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b.c.mybatisgeneratordemo.client.AppFeedbackMapper">
  <resultMap id="BaseResultMap" type="a.b.c.mybatisgeneratordemo.model.AppFeedback">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="client_version" jdbcType="VARCHAR" property="clientVersion" />
    <result column="client_type" jdbcType="VARCHAR" property="clientType" />
    <result column="client_os_version" jdbcType="VARCHAR" property="clientOsVersion" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy" />
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
  </resultMap>
</mapper>