<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b.c.mybatisgeneratordemo.client.AppSysAccountMapper">
  <resultMap id="BaseResultMap" type="a.b.c.mybatisgeneratordemo.model.AppSysAccount">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="sys_money" jdbcType="BIGINT" property="sysMoney" />
    <result column="advance_total" jdbcType="BIGINT" property="advanceTotal" />
    <result column="advance_balance" jdbcType="BIGINT" property="advanceBalance" />
    <result column="advance_moeny" jdbcType="BIGINT" property="advanceMoeny" />
    <result column="advance_line" jdbcType="BIGINT" property="advanceLine" />
    <result column="in_eco" jdbcType="BIGINT" property="inEco" />
    <result column="in_cmb" jdbcType="BIGINT" property="inCmb" />
    <result column="withdraw" jdbcType="BIGINT" property="withdraw" />
    <result column="handling_fee" jdbcType="BIGINT" property="handlingFee" />
    <result column="current_handling_rate" jdbcType="BIGINT" property="currentHandlingRate" />
    <result column="other_money" jdbcType="BIGINT" property="otherMoney" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="interest" jdbcType="BIGINT" property="interest" />
    <result column="today_interest" jdbcType="BIGINT" property="todayInterest" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
  </resultMap>
</mapper>