<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b.c.mybatisgeneratordemo.client.AppUserMapper">
  <resultMap id="BaseResultMap" type="a.b.c.mybatisgeneratordemo.model.AppUser">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="sxt_id" jdbcType="VARCHAR" property="sxtId" />
    <result column="login_id" jdbcType="VARCHAR" property="loginId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="identity_number" jdbcType="VARCHAR" property="identityNumber" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="identity_front_path" jdbcType="VARCHAR" property="identityFrontPath" />
    <result column="identity_back_path" jdbcType="VARCHAR" property="identityBackPath" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="qrcode_path" jdbcType="VARCHAR" property="qrcodePath" />
    <result column="avatar_path" jdbcType="VARCHAR" property="avatarPath" />
    <result column="friend_count" jdbcType="BIGINT" property="friendCount" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="duties" jdbcType="VARCHAR" property="duties" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="auth_business_status" jdbcType="INTEGER" property="authBusinessStatus" />
    <result column="auth_user_status" jdbcType="INTEGER" property="authUserStatus" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <result column="is_bind_phone" jdbcType="BIT" property="isBindPhone" />
    <result column="is_disabled" jdbcType="BIT" property="isDisabled" />
    <result column="disabled_start_time" jdbcType="TIMESTAMP" property="disabledStartTime" />
    <result column="disabled_end_time" jdbcType="TIMESTAMP" property="disabledEndTime" />
    <result column="disabled_back_user" jdbcType="VARCHAR" property="disabledBackUser" />
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="device_token" jdbcType="VARCHAR" property="deviceToken" />
  </resultMap>
</mapper>