<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b.c.mybatisgeneratordemo.client.BackRoleResourceMapper">
  <resultMap id="BaseResultMap" type="a.b.c.mybatisgeneratordemo.model.BackRoleResource">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="RESOURCE_ID" jdbcType="VARCHAR" property="resourceId" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
</mapper>