<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="a.b.c.client.HostMapper" >
  <resultMap id="BaseResultMap" type="a.b.c.model.Host" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="Host" property="host" jdbcType="CHAR" />
    <id column="Db" property="db" jdbcType="CHAR" />
    <result column="Select_priv" property="selectPriv" jdbcType="CHAR" />
    <result column="Insert_priv" property="insertPriv" jdbcType="CHAR" />
    <result column="Update_priv" property="updatePriv" jdbcType="CHAR" />
    <result column="Delete_priv" property="deletePriv" jdbcType="CHAR" />
    <result column="Create_priv" property="createPriv" jdbcType="CHAR" />
    <result column="Drop_priv" property="dropPriv" jdbcType="CHAR" />
    <result column="Grant_priv" property="grantPriv" jdbcType="CHAR" />
    <result column="References_priv" property="referencesPriv" jdbcType="CHAR" />
    <result column="Index_priv" property="indexPriv" jdbcType="CHAR" />
    <result column="Alter_priv" property="alterPriv" jdbcType="CHAR" />
    <result column="Create_tmp_table_priv" property="createTmpTablePriv" jdbcType="CHAR" />
    <result column="Lock_tables_priv" property="lockTablesPriv" jdbcType="CHAR" />
    <result column="Create_view_priv" property="createViewPriv" jdbcType="CHAR" />
    <result column="Show_view_priv" property="showViewPriv" jdbcType="CHAR" />
    <result column="Create_routine_priv" property="createRoutinePriv" jdbcType="CHAR" />
    <result column="Alter_routine_priv" property="alterRoutinePriv" jdbcType="CHAR" />
    <result column="Execute_priv" property="executePriv" jdbcType="CHAR" />
    <result column="Trigger_priv" property="triggerPriv" jdbcType="CHAR" />
  </resultMap>
</mapper>