<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="a.b.c.client.InnodbIndexStatsMapper" >
  <resultMap id="BaseResultMap" type="a.b.c.model.InnodbIndexStats" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="database_name" property="databaseName" jdbcType="VARCHAR" />
    <id column="table_name" property="tableName" jdbcType="VARCHAR" />
    <id column="index_name" property="indexName" jdbcType="VARCHAR" />
    <id column="stat_name" property="statName" jdbcType="VARCHAR" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
    <result column="stat_value" property="statValue" jdbcType="BIGINT" />
    <result column="sample_size" property="sampleSize" jdbcType="BIGINT" />
    <result column="stat_description" property="statDescription" jdbcType="VARCHAR" />
  </resultMap>
</mapper>