<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource="application.properties"/>
    <context id="Mysql"
             targetRuntime="MyBatis3Simple"
             defaultModelType="flat">
        <property name="beginningDelimiter"
                  value="`"/>
        <property name="endingDelimiter"
                  value="`"/>
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers"
                      value="a.b.c.mybatisgeneratordemo.BaseMapper"/>
        </plugin>
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/sxt-db?characterEncoding=utf8"
                        userId="adam"
                        password="adam123456!">
        </jdbcConnection>
        <javaModelGenerator targetPackage="a.b.c.mybatisgeneratordemo.model"
                            targetProject="src/main/java"/>
        <sqlMapGenerator targetPackage="mapper"
                         targetProject="src/main/resources"/>
        <javaClientGenerator targetPackage="a.b.c.mybatisgeneratordemo.client"
                             targetProject="src/main/java"
                             type="XMLMAPPER"/>
        <table tableName="%">
            <generatedKey column="id"
                          sqlStatement="Mysql"
                          identity="true"/>
        </table>
    </context>
</generatorConfiguration>