<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="a.b.c.client.TimeZoneNameMapper" >
  <resultMap id="BaseResultMap" type="a.b.c.model.TimeZoneName" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="Name" property="name" jdbcType="CHAR" />
    <result column="Time_zone_id" property="timeZoneId" jdbcType="INTEGER" />
  </resultMap>
</mapper>